@font-face{
  font-family: "MTS"; /* Имя для шрифта */
  src: url("../public/fonts/MTSText-Bold.ttf") format("truetype"); /* путь к шрифту */
  font-style: normal; /* стиль (курсив илиобычный) */
  font-weight: bolder; /* толщина */
  }
@font-face{
    font-family: "MTS"; /* Имя для шрифта */
    src: url("../public/fonts/MTSText-Medium.ttf") format("truetype"); /* путь к шрифту */
    font-style: normal; /* стиль (курсив илиобычный) */
    font-weight:bold; /* толщина */
    }
@font-face{
      font-family: "MTS"; /* Имя для шрифта */
      src: url("../public/fonts/MTSText-Regular.ttf") format("truetype"); /* путь к шрифту */
      font-style: normal; /* стиль (курсив илиобычный) */
      font-weight:normal; /* толщина */
      }
:root{
  font-family: MTS ,Arial, Helvetica, sans-serif;
}

html, body{
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}